{% load static %}
<footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="footer_txt1">
                        <img src="{% static "assets/img/Icon.png" %}" alt="...">
                        <h2>Built to help young men lead themselves with discipline and direction.</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer_txt2">
                                <h6>Platform</h6> 
                                <a href="#">How It Works </a>
                                <a href="#">Pricing  </a>
                                <a href="#">Daily Prompts </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer_txt2">
                                <h6>Company</h6> 
                                <a href="#">About</a>
                                <a href="#">Contact </a>
                                <a href="#">Roadmap  </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer_txt2">
                                <h6>Resources</h6> 
                                <a href="#">Blog </a>
                                <a href="#">Support </a>
                                <a href="#">Terms & Privacy </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>